.container {
 display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: opacity 400ms linear;
}

.button:not(:disabled):hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: #af535e;
  cursor: not-allowed;
}