.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 400ms linear;
}

.categoryItem:hover {
  opacity: 0.8;
}


.euro {
  background-color: #57c4ff31;
}

.duel {
  background-color: rgba(100, 90, 171, 0.13);
}

.new {
  background-color: rgba(185, 248, 122, 0.19);
}

.party {
  background-color: rgba(236, 73, 218, 0.37);
}

.amery {
  background-color: rgba(96, 96, 96, 0.3);
}