.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 400ms linear;
}

.categoryItem:hover {
  opacity: 0.8;
}


.travel {
  background-color: #ff7857;
}

.fashion {
  background-color: #1daa8d;
}

.culture {
  background-color: #b79641;
}