.container {
  display: grid;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  gap: 0.75rem;
  border-radius: 1rem;
  border-width: 1px;
  border-color: #d1d5db;
  border-style: dashed;
  width: 100%;
  background-color: #f9fafb;
}

.col1 {
  display: grid;
  gap: 0.25rem;
}
.col2 {
  display: grid;
  gap: 0.5rem;
}

.button {
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #9ca3af;
}

.title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1.375;
  text-align: center;
  color: #111827;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonUpload {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: 7rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  line-height: 1rem;
  color: #ffffff;
  background-color: #4f46e5;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.image {
  margin: 0 auto;
}

.send {
  margin-top: 7px;
  padding: 16px 42px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #49aec0;
  text-decoration: none;
  user-select: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    top: var(--mouse-y);
    left: var(--mouse-x);
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
  }
  &:focus,
  &:hover {
    background: darken(#1b9282, 7%);
  }
  &:active {
    &:after {
      width: 300px;
      height: 300px;
    }
  }
}
