.popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.2s, opacity 0.3s linear;
    -o-transition: visibility 0.2s, opacity 0.3s linear;
    transition: visibility 0.2s, opacity 0.3s linear;
    position: fixed;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}

.image_zoom {
    background-color: rgba(0, 0, 0, 0.9);
}

.conteiner {
    background-color: #ffffff;
    padding: 34px 22px 37px 22px;
    border: none;
    width: calc(282px + (430 - 282) * ((100vw - 320px) / (1280 - 320)));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.conteiner_zoom {
    position: relative;
    max-width: 75vw;
}

.close_button {
    position: absolute;
    right: -40px;
    top: -40px;
    width: 32px;
    height: 32px;
    border-style: none;
    background: transparent url("./images/Close.svg") no-repeat;
    -webkit-transition: opacity linear .4s;
    -o-transition: opacity linear .4s;
    transition: opacity linear .4s;
    cursor: pointer;
}

.close_button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 575px) {
    .close_button {
        right: 0;
        top: -36px;
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
    }
}

@media screen and (max-width: 320px) {
    .conteiner {
        padding: 25px 22px 25px 22px;
    }
}