.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  transition: opacity 400ms linear;
}

.publish:hover {
  opacity: 0.8;
}


.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: #b3b3b1;
}


.textArea {
  background-color: transparent;
  width: 100%;
}

.textArea::placeholder {
  color: #b3b3b1;
}

.link_label {
display: block; 
margin-bottom: 0.5rem; 
font-size: 0.875rem;
line-height: 1.25rem; 
}
.container_link {
  width: 100%; 
max-width: 24rem; 
}

.reflink {
  padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
border-radius: 0.375rem; 
border-width: 1px; 
width: 100%; 
font-size: 0.875rem;
line-height: 1.25rem; 
background-color: transparent; 
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
transition-duration: 300ms; 
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
color: var(--textColor);
}